* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
}

/* =============== Config *===========*/
a {
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

/* Navigation */
.nav {
  width: 70px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA6E54), to(#FD5272));
  background: linear-gradient(to bottom, #EA6E54, #FD5272);
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 71px;
  background-color: #ffffff;
}

.nav .logo {
  margin: auto;
  font-family: 'Dancing Script', cursive;
  color: #FC6367;
  font-size: 30px;
  font-weight: bold;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100vh - 71px);
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  width: 70px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav .home {
  background: url(../img/navigation/home.png) no-repeat center top;
}

.nav .bar-chart {
  background: url(../img/navigation/bar-chart.png) no-repeat center top;
}

.nav .user {
  background: url(../img/navigation/user.png) no-repeat center top;
}

.nav .settings {
  background: url(../img/navigation/settings.png) no-repeat center top;
}

.nav .information {
  background: url(../img/navigation/information.png) no-repeat center top;
}

.nav .power-button {
  margin-top: auto;
  margin-bottom: 20px;
  width: 70px;
  height: 20px;
  background: url(../img/navigation/power-button.png) no-repeat center top;
}

.nav__text {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1296px;
}

.main-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adside-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 7.1vh;
  background-color: #FFFFFF;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 20px;
  border: 1px solid #F1F1F1;
}

.header .rectangle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FD5372;
}

.header__circle {
  margin: auto 1px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.header__img {
  width: 20px;
}

.header__form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.header__search {
  margin: auto;
  background: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__form {
  background: #F8F8F8;
  border-radius: 50px;
}

.header__input, .header__button {
  border: none;
  outline: none;
  background: transparent;
}

.header__input {
  width: 100%;
  height: 34px;
  padding-left: 15px;
}

.header__button {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 9px;
  right: 13px;
  cursor: pointer;
}

.header__zoom {
  height: 16px;
  width: 16px;
  background: url(../img/header/zoom-in.png) no-repeat center center;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__img-user {
  width: 71px;
  height: 7.1vh;
  background: url(../img/header/kendall-jenner.png) no-repeat center center;
  background-size: cover;
}

.header__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__name {
  padding-top: 2.5vh;
  margin-bottom: 1vh;
  margin-left: 1.8vh;
  font-size: 13px;
  color: #FC6B61;
}

.header__user-job {
  font-size: 10px;
  color: #BFBFBF;
}

.header__user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 18px auto 49px;
}

.header__user-menu-item {
  width: 5px;
  height: 5px;
  margin-bottom: 1px;
  background-color: #BFBFBF;
  border-radius: 50%;
}

.header__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.1vh 0;
  margin: auto 0;
}

.header__daily-statistics {
  margin: auto 0;
  text-align: left;
}

.header__text-daily {
  margin-bottom: 0.9vh;
  color: #777777;
  font-size: 12px;
}

.header__text-numbers {
  color: #FD5B6C;
  font-size: 20px;
  margin-bottom: 0.8vh;
}

.header__text-count {
  margin: 0px 7px;
  color: #BFBFBF;
  font-size: 12px;
}

.header__text-add-stat {
  color: #FD5B6C;
}

.folder {
  height: 18x;
}

.settings {
  height: 17x;
}

.upload {
  height: 18x;
}

.envelope {
  height: 12x;
}

.planet-earth {
  height: 20x;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #BFBFBF;
}

.main__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__monthly-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 704px;
  height: 26.6vh;
  padding: 1.8vh;
  text-align: left;
  background-color: #FFFFFF;
  border: #ECECEC 8px solid;
}

.main__title-text-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  color: #767676;
  font-size: 14px;
}

.main .monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .oval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 64px;
  height: 24px;
  background-color: #FD5272;
  color: #FFFFFF;
}

.main__axis-y-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__text-axis-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
}

.main__text-y {
  margin-top: auto;
}

.main__text-time {
  margin: 7px 8px 0px;
  cursor: pointer;
}

.main__img-graph {
  margin-top: 1.1vh;
  margin-left: 34px;
  width: 582px;
  height: 117px;
  background: url(../img/main/graph.png) no-repeat center center;
  background-size: cover;
}

.main__text-axis-x {
  margin-left: 74px;
  margin-top: auto;
}

.main__text-x:not(:first-child) {
  margin-left: 25px;
}

.main__revenue {
  padding: 1.8vh;
  width: 264px;
  height: 26.6vh;
  border: #ECECEC 8px solid;
}

.main__img-ellipse {
  margin: 2.1vh auto;
  width: 124px;
  height: 12.4vh;
  background-color: #fff;
}

.main__customers {
  padding: 1.8vh;
}

.main__title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.main__img-customers {
  width: 43px;
  height: 4.3vh;
  background-color: #5BCCFF;
}

.main__quate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .quate {
  width: 345px;
  height: 8.4vh;
  border: #ECECEC 8px solid;
  margin-top: auto;
}

.main__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.7vh;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.main__img-clock {
  width: 12px;
  height: 12px;
  background: url(../img/main/wall-clock.png) no-repeat center center;
}

.main__progress {
  width: 241px;
  height: 24.5vh;
  border: #ECECEC 8px solid;
}

.main__img-progress {
  width: 187px;
  height: 11.5vh;
  margin: 0 auto;
  background: url(../img/main/progress.png) no-repeat center center;
  background-size: cover;
}

.main__shipments {
  width: 241px;
  height: 24.5vh;
  background-color: #ffffff;
  border: #ECECEC 8px solid;
}

.main__img-map {
  width: 187px;
  height: 11.5vh;
  margin: 0 auto;
  background: url(../img/main/usa-map.png) no-repeat center center;
  background-size: cover;
}

.main-customer-task-shimpents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 467px;
  height: 50.8vh;
  border: #ECECEC 8px solid;
}

.main__task-progress-shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__task {
  width: 501px;
  height: 24.5vh;
  border: #ECECEC 8px solid;
}

.main__progress-shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 273px;
  height: 51vh;
  border: #ECECEC 8px solid;
}

.aside__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 271px;
  height: 4.8vh;
  background-color: #F77358;
}

.aside__menu {
  width: 91px;
  height: 4.8vh;
}

.aside .user {
  background: url(../img/aside/users.png) no-repeat center center;
  background-color: #C34455;
}

.aside .chat {
  background: url(../img/aside/chat.png) no-repeat center center;
}

.aside .like {
  background: url(../img/aside/like.png) no-repeat center center;
}

.aside__users {
  display: block;
  overflow: scroll;
}

.aside__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 273px;
  height: 8.5vh;
  border-bottom: #F1F1F1 1px solid;
}

.aside__img {
  margin-left: 20px;
  width: 42px;
  height: 42px;
  background-size: cover;
}

.aside__name-job {
  width: 110px;
  margin-left: 16px;
}

.aside__name {
  font-size: 13px;
  color: #777777;
  margin-bottom: 10px;
}

.aside__job {
  font-size: 10px;
  color: #BFBFBF;
}

.aside__chat {
  margin-left: 48px;
  width: 20px;
  height: 16px;
  background: url(../img/aside/chat-copy.png) no-repeat center center;
}

.aside__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.aside__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__input {
  width: 161px;
  height: 25px;
  margin-left: 18px;
  font-size: 10px;
  color: #C0C0C0;
}

.aside .zoom {
  margin: 0;
  margin-left: 18px;
  width: 19px;
  height: 19px;
  background: url(../img/aside/zoom.png) no-repeat center center;
}

.aside .edit {
  margin: 0;
  margin-left: 14px;
  width: 19px;
  height: 19px;
  background: url(../img/aside/edit.png) no-repeat center center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.0vh;
  width: 273px;
  height: 27.9vh;
  border: #ECECEC 8px solid;
}

.footer__title {
  margin-bottom: 1.5vh;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  width: 55px;
  height: 55px;
  margin: 1.0vh 0.5vh;
  background-color: #ccc;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */