* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  height: 1000x;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background-color: green;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  background-color: red;
  height: 1000px;
}

.nav__logo {
  width: 100%;
  padding: 25px 0px 23px;
  height: 71px;
  background-color: green;
  color: #FD7858;
  font-size: 30px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav__link {
  padding-top: 30px;
  width: 100%;
}

.nav__text {
  margin-top: 10px;
}

.bottom-link {
  color: green;
  margin-top: auto;
}

.main-content {
  width: 1296px;
  height: 1000px;
  background-color: orange;
}

.test-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 163px;
  background-color: blue;
}

.header__nav {
  width: 100%;
  height: 71px;
  background-color: grey;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: brown;
}

.main__grafic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__monthly-progress {
  width: 704px;
  height: 266px;
  background-color: green;
  border: blue 2px solid;
}

.main__revenue {
  width: 264px;
  height: 266px;
  background-color: green;
  border: blue 2px solid;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 467px;
  height: 508px;
  background-color: green;
  border: blue 2px solid;
}

.main__task-progress-shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__task {
  width: 501px;
  height: 245px;
  background-color: green;
  border: blue 2px solid;
}

.main__progress-shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__progress {
  width: 241px;
  height: 245px;
  background-color: green;
  border: blue 2px solid;
}

.main__shipments {
  width: 241px;
  height: 245px;
  background-color: green;
  border: blue 2px solid;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 273px;
  height: 612px;
  background-color: green;
  border: blue 2px solid;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 273px;
  height: 229px;
  background-color: green;
  border: blue 2px solid;
}
/*# sourceMappingURL=main.css.map */