* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;

    max-width: 1370px;
    min-height: 100vh;

    margin: 0 auto;
    
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    
}
/* =============== Config *===========*/
a {
    text-decoration: none;
}
ul {
    display: flex;

    list-style-type: none;
}

@import "./config/normalize";

@import "./config/variables";

@import "./config/mixins";

@import "./components/navigation";

@import "./components/header";

@import "./components/main";

@import "./components/aside";

@import "./components/footer";

/*=========== main container ==========*/
.main-content {
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 70px);
    
    @include medium {
        width: 100%;
    }
}

.adside-footer-container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 273px;

    @include medium {
        max-width: none;
        min-width: 100%;
    }
}