* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;

    max-width: 1366px;
    height: 1000x;

    margin: 0 auto;
    overflow: hidden;

    text-align: center;
    background-color: green;
}

@import "./components/navigation";

.main-content {


    width: 1296px;
    height: 1000px;
    background-color: orange;

}
.test-2 {
    display: flex;
}
.test-3 {
    display: flex;
    flex-direction: column;
}

@import "./components/header";


@import "./components/main";

@import "./components/aside";

@import "./components/footer";