.footer {
    display: flex;
    flex-direction: column;
    
    padding: 2.0vh;
    
    width: 273px;
    height: 27.9vh;
    
    border: #ECECEC 8px solid;
    &__title {
        margin-bottom: 1.5vh;
    }

    &__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       
        
    }
    &__item {
        width: 55px;
        height: 55px;
        margin: 1.0vh 0.5vh;
        background-color: #ccc;
    }
}