.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    

    &__nav {

        
        display: flex;
        min-width: 320px;
        min-height: $nav-head-height;
        border-bottom: 1px solid #F1F1F1;
        @include x-large {
            flex-wrap: wrap;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 72px;
        min-height: $nav-head-height;
        
        border: 1px solid #F1F1F1;
        border-bottom: none;
        
    }
    .rectangle {
        
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 18px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #FD5372;
        
        
    }
    &__circle {
        
        margin: auto 1px;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
    }
    &__btn {
        width: 20px;
        border: none;
        cursor: pointer;
    }
    .img-folder {
        
        height: 18px;
        background: url(../img/header/folder.png) no-repeat center center;
    }
    .img-settings {
        width: 21px;
        height: 17px;
        background: url(../img/header/settings.png) no-repeat center center;
    }
    .img-upload {
        height: 18px;
        background: url(../img/header/upload.png) no-repeat center center;
    }
    .img-envelope {
        height: 12px;
        background: url(../img/header/envelope.png) no-repeat center center;
    }
    .img-planet-earth {
        height: 20px;
        background: url(../img/header/planet-earth.png) no-repeat center center;
    }
    
    
    &__form {
        position: relative;
        width: 300px;
        margin: 0 auto;
      }
      &__search {
        margin: auto;
        background: #FFFFFF;
        border-radius: 50px;
        flex: auto;
    }
      &__form {
        background: #F8F8F8;
        border-radius: 50px;
      }
      &__input, &__button {
        border: none;
        outline: none;
        background: transparent;
    }
      &__input {
        width: 100%;
        height: 34px;
        padding-left: 15px;
    }
      &__button {
        height: 16px;
        width: 16px;
        position: absolute;
        top: 9px;
        right: 13px;
        cursor: pointer;
        background: url(../img/header/zoom-in.png) no-repeat center center;
    }    
    &__user {
        display: flex;
    }

    &__img-user {
        
        width: 71px;
        height: 71px;
          
        background: url(../img/header/kendall-jenner.png) no-repeat center center;
        background-size: cover;
    }

    &__user-data {
        display: flex;
        flex-direction: column;
        
    }

    &__name {
        padding-top: 25px;
        margin-bottom: 10px;
        margin-left: 18px;
        font-size: 13px;
        color: #FC6B61;
    }
    &__user-job {
        font-size: 10px;
        color: #BFBFBF;
    }
    &__user-menu {
        display: flex;
        flex-direction: column;

        margin: auto 18px auto 49px;
    }
    &__user-menu-item {
        width: 5px;
        height: 5px;
        margin-bottom: 1px;

        background-color: #BFBFBF;
        border-radius: 50%;
    }

    &__statistics {
        display: flex;
        
        min-width: 100%;
        
        padding: 30px 0;
        margin: auto 0;
        overflow-x: scroll;
    }

    &__daily-statistics {
        min-width: 120px;
        margin: auto 20px;

        text-align: left;
        
    }
    &__text-daily {
        margin-bottom: 9px;

        color: #777777;
        font-size: 12px;
    }
    &__text-numbers {
        color: #FD5B6C;
        font-size: 20px;
        margin-bottom: 8px;
    }
    &__text-count {
        position: relative;
        left: 0px;
        margin: 0px 7px;

        color: #BFBFBF;
        font-size: 12px;
    }

    &__text-add-stat {
        color: #FD5B6C;
    }
}
