.header {

    width: 100%;
    
    
    &__nav {
        display: flex;
        width: 100%;
        height: 7.1vh;
        background-color: #FFFFFF;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 20px;
        
        border: 1px solid #F1F1F1; 
    }
    .rectangle {
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 18px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #FD5372;
        
    }
    &__circle {
        
        margin: auto 1px;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
    }
    &__img {
        width: 20px;
        
    }
    &__form {
        position: relative;
        width: 300px;
        margin: 0 auto;
      }
      &__search {
        margin: auto;
        background: #FFFFFF;
        flex-grow: 1;
    }
      &__form {
        background: #F8F8F8;
        border-radius: 50px;
      }
      &__input, &__button {
        border: none;
        outline: none;
        background: transparent;
    }
      &__input {
        width: 100%;
        height: 34px;
        padding-left: 15px;
    }
      &__button {
        height: 16px;
        width: 16px;
        position: absolute;
        top: 9px;
        right: 13px;
        cursor: pointer;
    }
      &__zoom {
        height: 16px;
        width: 16px;
        background: url(../img/header/zoom-in.png) no-repeat center center;
    }
    
    &__user {
        display: flex;
    }

    &__img-user {
        
        width: 71px;
        height: 7.1vh;
          
        background: url(../img/header/kendall-jenner.png) no-repeat center center;
        background-size: cover;
    }

    &__user-data {
        display: flex;
        flex-direction: column;
        
    }

    &__name {
        padding-top: 2.5vh;
        margin-bottom: 1vh;
        margin-left: 1.8vh;
        font-size: 13px;
        color: #FC6B61;
    }
    &__user-job {
        font-size: 10px;
        color: #BFBFBF;
    }
    &__user-menu {
        display: flex;
        flex-direction: column;

        margin: auto 18px auto 49px;
    }
    &__user-menu-item {
        width: 5px;
        height: 5px;
        margin-bottom: 1px;

        background-color: #BFBFBF;
        border-radius: 50%;
    }

    &__statistics {
        display: flex;
        justify-content: space-around;

        
        padding: 2.1vh 0;
        margin: auto 0;


    }
    &__daily-statistics {
        
        margin: auto 0;

        text-align: left;
        
    }
    &__text-daily {
        margin-bottom: 0.9vh;

        color: #777777;
        font-size: 12px;
    }
    &__text-numbers {
        color: #FD5B6C;
        font-size: 20px;
        margin-bottom: 0.8vh;
    }
    &__text-count {
        margin: 0px 7px;

        color: #BFBFBF;
        font-size: 12px;
    }
    &__text-add-stat {
        color: #FD5B6C;
    }
}
.folder {
    height: 18x;
}
.settings {
    height: 17x;
}
.upload {
    height: 18x;
}
.envelope {
    height: 12x;
}
.planet-earth {
    height: 20x;
}

