.main {
    display: flex;
    flex-direction: column;

    color: #BFBFBF;
    background-color: brown;

    &__graph {
        display: flex;
        
        width: 100%;
        
    }

    &__monthly-progress {
        display: flex;
        flex-direction: column;
        width: 704px;
        height: 266px;
        padding: 30px;

        text-align: left;
        background-color: #FFFFFF;
        border: blue 2px solid;
    }
    &__title-text-time {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        
        
        color: #767676;
        font-size: 14px;
    }
    .monthly {
        display: flex;
        align-items: center;
    }
    .oval {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 64px;
        height: 24px;
        background-color: #FD5272;
        color: #FFFFFF;
    }
    &__axis-y-img {
        display: flex;
    }
    &__text-axis-y {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    &__text-y {
        margin-top: auto;
    }
    &__text-time {
        margin: 7px 8px 0px;
        cursor: pointer;
    }
    &__img-graph {
        margin-top: 31px;
        margin-left: 34px;
        width: 582px;
        height: 117px; 

        background: url(/source/img/main/graph.png) no-repeat center center;
        background-size: cover;
    }


    &__text-axis-x {
        margin-left: 74px;
        margin-top: auto;
    }



    &__text-x:not(:first-child) {
        margin-left: 25px;
    }

    &__revenue {
        padding: 30px;
        width: 264px;
        height: 266px;
        background-color: green;
        border: blue 2px solid;
        
    }
    &__img-ellipse {
        margin: 31px auto;
        width: 124px;
        height: 124px;
        background-color: #fff;
    }
    &__customers {
        padding: 30px;
    }
    &__title-img {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    &__img-customers {
        width: 43px;
        height: 43px;
        background-color: #5BCCFF;
    }
    &__quate {
        display: flex;
        flex-direction: column;

    }
    .quate {
        width: 275px;
        height: 90px;
        border: blue 1px solid;
    }
    .quate {
        margin-top: auto;
    }
    &__order {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 37px;

        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
    }
    &__img-clock {
        width: 12px;
        height: 12px; 

        background: url(/source/img/main/wall-clock.png) no-repeat center center;
    }
    &__progress {
        width: 241px;
        height: 245px;
        background-color: green;
        border: blue 2px solid;
    }
    &__img-progress {
        width: 187px;
        height: 115px;
        margin: 0 auto;

        background: url(/source/img/main/progress.png) no-repeat center center;
        background-size: cover;
    }
    &__shipments {
        width: 241px;
        height: 245px;
        
        background-color: #ffffff;
        border: blue 2px solid;
    }
    &__img-map {
        width: 187px;
        height: 115px;
        margin: 0 auto;

        background: url(/source/img/main/usa-map.png) no-repeat center center;
        background-size: cover;
    }
}



.test {
    display: flex;
    
}

.main__customers {
    display: flex;
    width: 467px;
    height: 508px;
    background-color: green;
    border: blue 2px solid;
}
.main__task-progress-shipments {
    display: flex;
    flex-direction: column;
    
}
.main__task {
    width: 501px;
    height: 245px;
    background-color: green;
    border: blue 2px solid;
}
.main__progress-shipments {
    display: flex;
}




