.nav {
    width: $nav-width;
    height: 100vh;
    background: linear-gradient(to bottom, #EA6E54, #FD5272);
    
    
     
    &__logo {
        @include flexbox(center, center);
        width: $nav-width;
        height: 71px;
        background-color: #ffffff;
    }
    &__text {
        margin: auto;

        font-family: 'Dancing Script', cursive;
        color: #FC6367;
        font-size: 30px;
        
    }

    &__menu {
        @include flexbox-column;
        width: $nav-width;
        height: calc(100vh - 71px);
        
    }
    &__link {
        @include flexbox(center, flex-end);
        @include nav-link;
        width: $nav-width;
        height: 35px;
    }
    .home {
        background: url(../img/navigation/home.png) no-repeat center top;
    }
    .bar-chart {
        background: url(../img/navigation/bar-chart.png) no-repeat center top;
    }
    .user {
        background: url(../img/navigation/user.png) no-repeat center top;
    }
    .settings {
        background: url(../img/navigation/settings.png) no-repeat center top;
    }
    .information {
        background: url(../img/navigation/information.png) no-repeat center top;
    }
    .power-button {
        margin-top: auto;
        margin-bottom: 20px;
        height: 20px;
        background: url(../img/navigation/power-button.png) no-repeat center top;
    }

}

